@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
	font-family: "Berlin";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/BerlinTypeWeb-Regular.woff2");
}

@font-face {
	font-family: "Berlin";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/BerlinTypeWeb-Bold.woff2");
}

/* Required for consistent progress bar rendering across chrome, firefox and safari */
progress[value] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

progress[value] {
	--color: #4f90cd;
	--background: #e6e6e6;
	border: none; /* Firefox add a default border */
	background: var(--background);
}

progress[value]::-moz-progress-bar {
	background: var(--color);
}

progress[value]::-webkit-progress-bar {
	background: var(--background);
}

progress[value]::-webkit-progress-value {
	background: var(--color);
}

/* Hide the confetti in print view */
@media print {
	canvas {
		display: none;
	}
}

/* Workaround for safari bug: "text-align: center" is not applied in select */
select {
	text-align-last: center;
}
